@charset "utf-8";
/* roboto-regular - latin */
// @font-face {
//   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//   font-family: 'IsYun';
//   font-style: normal;
//   font-weight: 400;
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
//   // src: url(fonts/Roboto/roboto-v30-latin-regular.eot); /* IE9 Compat Modes */
//   // src: url(fonts/Roboto/roboto-v30-latin-regular.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
//       //  url(fonts/Roboto/roboto-v30-latin-regular.woff2) format('woff2'), /* Super Modern Browsers */
//       //  url('https://cdn.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2'),
//       //  url(fonts/Roboto/roboto-v30-latin-regular.woff) format('woff'), /* Modern Browsers */
//       //  url(fonts/Roboto/roboto-v30-latin-regular.ttf) format('truetype'), /* Safari, Android, iOS */
//       //  url(fonts/Roboto/roboto-v30-latin-regular.svg#Roboto) format('svg'); /* Legacy iOS */
  
// }
// @font-face {
//   font-family: 'OngleipParkDahyeon';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
//   font-weight: normal;
//   font-display: swap;
// }
@font-face {
  font-family: 'IsYun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}