// Post wrapper
.wrapper.post {
  @include media-query($on-mobile) {
    padding-left: $spacing-half;
    padding-right: $spacing-half;
  }
}

// Post title
.header {
  margin-top: 7.8em;

  .header-title {
    font-size: 2em;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 20px;

    &.center {
      text-align: center;
    }

    @include media-query($on-mobile) {
      font-size: 1.6em; // Slightly reduced font size for mobile
    }
  }

  .post-description {
    font-size: 1.05rem;
    color: inherit;
    font-style: italic;
    margin-bottom: 20px;
  }
}

// Post meta
.post-meta {
  padding-top: 3px;
  line-height: 1.3;
  color: $gray;

  time {
    position: relative;
    margin-right: 1.5em;
  }

  span[itemprop="author"] {
    border-bottom: 1px dotted $light;
  }
}

// Post content
.page-content {
  padding-top: 8px;

  iframe {
    text-align: center;
  }

  img {
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  figure {
    img {
      border-radius: 2px;
    }

    figcaption {
      margin-top: 5px;
      font-style: italic;
      font-size: $base-font-size * 0.15;
      text-align: center;
    }
  }

  a {
    color: $text-link-blue;
    text-decoration: none;
    &[target="_blank"]::after {
      content: " \2197";
      font-size: $small-font-size;
      line-height: 0;
      position: relative;
      bottom: 5px;
      vertical-align: baseline;
    }

    &:hover {
      color: $text-link-blue-active;
    }

    &:focus {
      color: $text-link-blue;
    }
  }

  > p {
    margin: 0;
    padding-top: $spacing-full - 15;
    padding-bottom: $spacing-full - 15;
  }

  ul.task-list {
    list-style: none;
    margin: 0;

    li::before {
      content: "";
    }

    li input[type="checkbox"] {
      margin-right: 10px;
    }
  }

  dl dt {
    font-weight: $bold-weight;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $black;
    font-weight: $bold-weight;
    margin-top: $spacing-full;
    margin-bottom: 0;
    letter-spacing: .03rem;

    &:hover {
      .anchor-head {
        color: $text-link-blue;
        opacity: 1;
      }
    }

    .anchor-head {
      position: relative;
      opacity: 0;
      outline: none;

      &::before {
        content: "#";
        position: absolute;
        right: -3px;
        width: 1em;
        font-weight: $bold-weight;
      }
    }
  }

  h1 {
    @include relative-font-size(1.5);
  }

  h2 {
    @include relative-font-size(1.375);
  }

  h3 {
    @include relative-font-size(1.25);
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1);
  }

  h6 {
    @include relative-font-size(0.875);
  }
}

.in-content-toc {
  display: none; // Hidden by default on wider screens
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0em;
  border-radius: 8px;
  background-color: var(--card-background);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

  h3 {
    font-size: 0em;
    font-weight: bold;
    color: var(--secondary-color);
    margin-top: 0;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 0.5em;
  }

  #TableOfContents {
    ul {
      padding-left: 0;
      list-style: none;
      margin: 0;
    }
    li {
      margin-bottom: 0.5em;
      a {
        font-size: 0.9em;
        color: var(--primary-color);
        &:hover {
          color: var(--accent-color);
        }
      }
    }
  }

  @media (max-width: 1349px) { // Show when sidebar is hidden
    display: block;
  }
}

.post-nav {
  // ... existing .post-nav styles ...
}

.post-updated-at {

  font-family: "Ubuntu mono", "monospace";

}



.post-pagination {

  display: flex;

  justify-content: space-between;

  margin-top: 3em;

  padding-top: 1.5em;

  border-top: 1px solid var(--border-color);



  .pagination-item {

    display: flex;

    flex-direction: column;

    text-decoration: none;

    color: var(--primary-color);

    width: 48%; // Occupy almost half the space

    transition: color 0.2s ease;



    &:hover {

      color: var(--accent-color);

    }



    .pagination-direction {

      font-size: 0.8em;

      color: var(--secondary-color);

      margin-bottom: 0.2em;

    }



    .pagination-title {

      font-weight: bold;

      font-size: 1.2em;

    }

  }



  .pagination-placeholder {

    width: 48%; // Match the width of pagination-item

    visibility: hidden; // Keep it from being seen

  }



  .pagination-prev {

    text-align: left;

  }



  .pagination-next {

    text-align: right;

  }



  @include media-query($on-mobile) {

    flex-direction: column;

    .pagination-item {

      width: 100%;

      margin-bottom: 1em;

    }

  }

}



